/*
 * 段落样式
 */
.info
  width 100%
  height 100%
.page-title
  width 100%
  height 72px
  line-height 72px
  text-align center
  font-size 26px
.form-board
  margin 0 auto
  width 50%
  min-width 800px
  overflow auto
  flex-direction column
  justify-content flex-start
  align-items center
  box-sizing border-box
  padding 10px 6% 20px
  margin-bottom 20px
  background-color #fff
  .first-level
    width 100%
    height 72px
    line-height: 72px
    font-size 18px
    color #333333
    box-sizing: border-box
    margin-top 10px
    padding-top 20px
  .second-level
    width 100%
    height 48px
    font-size 14px
    color #333333
    display flex
    overflow hidden
    flex-direction row
    flex-wrap nowrap
    justify-content flex-start
    align-items center
    margin-top: 24px;
    .input-title
      text-align left
      width 90px
      flex-shrink 0
    .el-input, .el-select
      width 100%
    .el-radio
      font-weight normal
      font-size 12px
    .el-cascader
      width 100%
    .date-separator
      box-sizing border-box
      padding 0 10px
      width 10%
      text-align center
  .button-line
    width 100%
    height 72px
    line-height: 72px
    text-align: center
  .tips
    width 100%
    font-size 14px
    color #CC6561
    span
      padding-left 90px
  .error-log
    color tomato
    font-size 14px
.message
  width 50%
  height 36px
  line-height 36px
  font-size 14px
  color #CC6561
  background #FFF6DB
  border-radius 3px
  text-align center
  margin 0 auto
  overflow hidden
.required:after
  content '*'
  color #CC6561
  padding-left 6px

.submit
  margin: 0 auto